/* Add here all your css styles (customizations) */

#accordion {
    margin: 20px 0px 0px 0px
}

#accordion ul li a {

}

#accordion ul ul li a{
    font-weight: normal;

}

#accordion ul ul {

}

#accordion ul ul li {
    width: 100%;
    margin-left: 20px;

}

#accordion ul ul li a:first-child:hover
{
    text-decoration: underline;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.7);
}

#accordion ul ul ul {
    margin-left: 10px;

}
