

@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic");
@import '~admin-lte/bower_components/bootstrap/dist/css/bootstrap.css';
@import '~admin-lte/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css';
@import '~admin-lte/bower_components/font-awesome/scss/font-awesome.scss';
@import '~admin-lte/bower_components/Ionicons/css/ionicons.css';
@import '~admin-lte/dist/css/AdminLTE.css';
@import '~admin-lte/dist/css/skins/skin-blue.css';
@import '~admin-lte/plugins/iCheck/square/blue.css';
@import '../../../resources/assets/vendor/fancybox/jquery.fancybox.min.css';
//@import '~tinymce/skins/content/default/content.min.css';
//@import '~tinymce/skins/ui/oxide/content.min.css';
//@import '~tinymce/skins/ui/oxide/skin.min.css';


$fa-font-path: "/fonts/vendor/font-awesome" !default;

.example-modal .modal {
  position: relative;
  top: auto;
  bottom: auto;
  right: auto;
  left: auto;
  display: block;
  z-index: 1;
}

.example-modal .modal {
  background: transparent !important;
}