
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic");
@import url("https://fonts.googleapis.com/css?family=Open+Sans%3A400%2C300%2C500%2C600%2C700%7CPlayfair+Display%7CRoboto%7CRaleway%7CSpectral%7CRubik");

// Variables
@import 'variables';

// Bootstrap
@import '~admin-lte/bower_components/font-awesome/scss/font-awesome.scss';
@import '../../../resources/assets/vendor/bootstrap/bootstrap.min.css';
@import '../../../resources/assets/vendor/icon-line/css/simple-line-icons.css';
@import '../../../resources/assets/vendor/icon-line-pro/style.css';
@import '../../../resources/assets/vendor/icon-hs/style.css';
@import '../../../resources/assets/vendor/hamburgers/hamburgers.min.css';
@import '../../../resources/assets/vendor/animate.css';
@import '../../../resources/assets/css/unify.css';
//@import '../../../resources/assets/css/styles.e-commerce.css';

//@import '../../../resources/assets/css/unify-core.css';
//@import '../../../resources/assets/css/unify-components.css';
//@import '../../../resources/assets/css/unify-globals.css';
@import '../../../resources/assets/vendor/fancybox/jquery.fancybox.min.css';
@import '../../../resources/assets/css/custom.css';


.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
