/* Add here all your css styles (customizations) */

#accordion
{
    margin: 20px 0px 0px 0px
}


#accordion ul ul {
    display: none;
}

#accordion ul ul {
    margin-left: 10px;
    border: 1px solid red;
}


#accordion ul ul ul{
    margin-left: 10px;
    border: 1px solid red;
}





#accordian {
    background: #fff;
    width: 100%;
    margin: 20px auto 0 auto;

}

#accordian h3 {
    background: #fff;
}

#accordian h3  {
    padding: 0 10px;
    font-size: 12px;
    line-height: 34px;

}

#accordian h3:hover {
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.7);
}

i {
    margin-right: 10px;
}

#accordian li {
    list-style-type: none;
}

#accordian ul ul li a,
#accordian h4 {

    text-decoration: none;
    font-size: 12px;
    line-height: 27px;
    display: block;
    padding: 0 0px;
    transition: all 0.15s;
    position: relative;
}

#accordian ul ul {
    display: none;
}

#accordian li.active>ul {
    display: block;
}

#accordian ul ul ul {
    margin-left: 5px;
    border-left: 1px dotted rgba(0, 0, 0, 0.5);
}

#accordian a:not(:only-child):after {
    /*content: "\f104";*/
    font-family: fontawesome;
    position: absolute;
    right: 10px;
    top: 0;
    font-size: 14px;
}

#accordian .active>a:not(:only-child):after {
    /*content: "\f107";*/
}